#gig-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 100%;
    margin: 0 auto;
}

#band-name {
    font-size: 1.5em;
    margin: 10px 0;
}

#band-image-container {
    background-color: darkblue;
    position: relative;
    overflow: hidden;
    border: 3px solid transparent;
}

#band-image-container:hover {
    border-color: gold;
}

#band-image {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

#band-description {
    margin-top: 10px;
}

.five-pointed-star {
    --star-color: orange;
    font-size: 3em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5em;
    width: 0px;
    height: 0px;
    border-right: 0.5em solid transparent;
    border-bottom: 0.35em solid var(--star-color);
    border-left: 0.5em solid transparent;
    transform: rotate(35deg);
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.five-pointed-star:hover {
    opacity: 1;
}

.five-pointed-star.clicked {
    opacity: 1;
}

.five-pointed-star:before {
    border-bottom: 0.4em solid var(--star-color);
    border-left: 0.15em solid transparent;
    border-right: 0.15em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.225em;
    left: -0.325em;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.015em;
    left: -0.525em;
    width: 0;
    height: 0;
    border-right: 0.5em solid transparent;
    border-bottom: 0.35em solid var(--star-color);
    border-left: 0.5em solid transparent;
    transform: rotate(-70deg);
    content: "";
}