#gig-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 100%;
    margin: 0 auto;
}

#band-name {
    font-size: 1.5em;
    margin: 10px 0;
}

#band-image-container {
    position: relative;
    overflow: hidden;
    border: 3px solid transparent;
}

#band-image-container:hover {
    border-color: gold;
}

#band-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#band-description {
    margin-top: 10px;
}

/* New styles for the favorite button */
button.favorite {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: green;
    padding: 5px;
    border-radius: 0 8px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: opacity 0.3s, background-color 0.3s;
    z-index: 7;

}

button.favorite:hover {
    opacity: .5;
}

button.favorite.clicked {
    opacity: 1;
    background-color: gold;
}

button.favorite.clicked:hover {
    opacity: .75;
}
